<h1>Subscribe Page</h1>
<!-- <app-container>
    <div class="banner">
      <h1 class="title">Create plan</h1>
      <p class="banner_text">Coffee the way you wanted it to be. For coffee delivered tomorrow, or next week. For whatever brew method you use. For choice, for convenience, for quality.</p>
    </div>
    <div class="box1">
      <div class="wrapper_infos">
        <div class="info">
          <div class="top">
            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="none" stroke="#0E8784" stroke-width="2"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none"><path d="M0.5 1.5H760.5" stroke="#FDD6BA" stroke-width="2"/>
            </svg>
          </div>
          <h2>01</h2>
          <h3>Pick your
            coffee</h3>
          <h4>Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There are new coffees in all profiles every month for you to try out.</h4>
        </div>
        <div class="info">
          <div class="top">
            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="none" stroke="#0E8784" stroke-width="2"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none" class="straight"><path d="M0.5 1.5H760.5" stroke="#FDD6BA" stroke-width="2"/>
            </svg>
          </div>
          <h2>02</h2>
          <h3>Choose the frequency</h3>
          <h4>Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.</h4>
        </div>
        <div class="info">
          <div class="top">
            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="none" stroke="#0E8784" stroke-width="2"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none"><path d="M0.5 1.5H760.5" stroke="transparent" stroke-width="2"/>
            </svg>
          </div>
          <h2>03</h2>
          <h3>Receive and enjoy!</h3>
          <h4>We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.</h4>
        </div>
      </div>
    </div>
    <div class="box2">
      <div class="container_left">
        <div class="item">
          <h3>01</h3>
          <h2>Preferences</h2>
        </div>
        <div class="line"></div>
        <div class="item">
          <h3>02</h3>
          <h2>Bean Type</h2>
        </div>
        <div class="line"></div>
        <div class="item">
          <h3>03</h3>
          <h2>Quantity</h2>
        </div>
        <div class="line"></div>
        <div class="item">
          <h3>04</h3>
          <h2>Grind Option</h2>
        </div>
        <div class="line"></div>
        <div class="item">
          <h3>05</h3>
          <h2>Deliveries</h2>
        </div>
      </div>
      <div class="container_right">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do you drink your coffee?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <mat-button-toggle-group #group="matButtonToggleGroup" name="howDrinkCoffe" aria-label="How do you drink your coffee?" class="button_toggle_group" >
              <mat-button-toggle value="Capsule" id="capsule" (click)="disable()">
                <div class="vala">
                  <h2>Capsule</h2>
                  <p>Compatible with Nespresso systems and similar brewers</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Filter" (click)="enable()">
                <div class="vala">
                  <h2>Filter</h2>
                  <p>For pour over or drip methods like Aeropress, Chemex, and V60</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Espresso" (click)="enable()">
                <div class="vala">
                <h2>Espresso</h2>
                <p>Dense and finely ground beans for an intense, flavorful experience</p>
              </div>
            </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1"  >
          <mat-expansion-panel-header>
            <mat-panel-title>
              What type of coffee?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <mat-button-toggle-group #group1="matButtonToggleGroup" name="howDrinkCoffe" aria-label="How do you drink your coffee?" class="button_toggle_group" >
              <mat-button-toggle value="Single Origin" id="origin" >
                <div class="vala">
                  <h2>Single Origin</h2>
                  <p>Distinct, high quality coffee from a specific family-owned farm</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Decaf" >
                <div class="vala">
                  <h2>Decaf</h2>
                  <p>Just like regular coffee, except the caffeine has been removed</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Blended" >
                <div class="vala">
                <h2>Blended</h2>
                <p>Combination of two or three dark roasted beans of organic coffees</p>
              </div>
            </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" panelOpenState = false; >
          <mat-expansion-panel-header>
            <mat-panel-title>
              How much would you like?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <mat-button-toggle-group #group2="matButtonToggleGroup" name="howDrinkCoffe" aria-label="How do you drink your coffee?" class="button_toggle_group" >
              <mat-button-toggle value="250g" id="much" >
                <div class="vala">
                  <h2>250g</h2>
                  <p>Perfect for the solo drinker. Yields about 12 delicious cups.</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="500g" >
                <div class="vala">
                  <h2>500g</h2>
                  <p>Perfect option for a couple. Yields about 40 delectable cups.</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="1000g" >
                <div class="vala">
                <h2>1000g</h2>
                <p>Perfect for offices and events. Yields about 90 delightful cups.</p>
              </div>
            </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [disabled]="isDisabled" [expanded]="step === 3" panelOpenState = false; >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Want us to grind them?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <mat-button-toggle-group #group3="matButtonToggleGroup" name="howDrinkCoffe" aria-label="How do you drink your coffee?" class="button_toggle_group">
              <mat-button-toggle value="Wholebean" id="grind" >
                <div class="vala">
                  <h2>Wholebean</h2>
                  <p>Best choice if you cherish the full sensory experience</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Filter" >
                <div class="vala">
                  <h2>Filter</h2>
                  <p>For pour over or drip methods like Aeropress, Chemex, and V60</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Cafetiére" >
                <div class="vala">
                <h2>Cafetiére</h2>
                <p>Course ground beans specially suited for french press coffee</p>
              </div>
            </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 4" panelOpenState = false; >
          <mat-expansion-panel-header>
            <mat-panel-title>
              How often should we deliver?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <mat-button-toggle-group #group4="matButtonToggleGroup" name="howDrinkCoffe" aria-label="How do you drink your coffee?" class="button_toggle_group" >
              <mat-button-toggle value="Every week" id="deliver" (click)="butenable(group.value,group1.value,group2.value,group3.value,group4.value)">
                <div class="vala">
                  <h2>Every week</h2>
                  <p>$7.20 per shipment. Includes free first-class shipping.</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Every 2 weeks" (click)="butenable(group.value,group1.value,group2.value,group3.value,group4.value)">
                <div class="vala">
                  <h2>Every 2 weeks</h2>
                  <p>$9.60 per shipment. Includes free priority shipping.</p>
                </div>
              </mat-button-toggle>
              <mat-button-toggle value="Every month" (click)="butenable(group.value,group1.value,group2.value,group3.value,group4.value)">
                <div class="vala">
                <h2>Every month</h2>
                <p>$12.00 per shipment. Includes free priority shipping.</p>
              </div>
            </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="box3">
      <div class="container_box3">
        <div class="box3_title">Order Summary</div>
        <div class="box3_text">“I drink my coffee using <strong>{{group.value}}</strong>, with a <strong>{{group1.value}}</strong> type of bean. <strong>{{group2.value}}</strong> , sent to me <strong>{{group4.value}}</strong>.”
        </div>
      </div>
    </div>
    <div class="but">
      <button mat-flat-button [disabled]="butDisabled" aria-label="Create your plan" (click)="modalOpen(group.value,group1.value,group2.value,group3.value,group4.value)" (click)="openDialog()">Create my plan!</button>
    </div>
  
  </app-container>
   -->