.Create-plan {
    --mdc-filled-button-container-color: #0E8784;
    --mdc-filled-button-label-text-color: #FEFCF7;
    width: 217px;
    height: 56px;
    flex-shrink: 0;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    background-color: #66D2CF;
    border-radius: 8px;
  }
  
  .Create-plan:hover {
    --mdc-filled-button-container-color: #66D2CF;
    --mdc-filled-button-label-text-color: #FEFCF7;
  }
  