.banner {
    margin: 0 auto;
    width: 1280px;
    height: 450px;
    max-width: 100%;
    flex-shrink: 0 1;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../assets/about/image-hero-whitecup.jpg');
  }
  
  .banner .title {
    color: #FEFCF7;
    font-family: Fraunces;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-left: 58px;
  }
  
  .banner .banner_text {
    width: 445px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
    margin-left: 58px;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
  .wrapper .box1 {
    max-width: 100%;
    width: 1180px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  
  .wrapper .box1 img {
    border-radius: 9px;
    max-width: 50%;
  }
  
  .wrapper .box1 .text_box1 {
    display: flex;
    max-width: 50%;
    height: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
  }
  
  .wrapper .box1 .text_box1 h2 {
    width: 60%;
    color: #333D4B;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
  
  .wrapper .box1 .text_box1 p {
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
  }
  
  .wrapper .box2 {
    width: 1280px;
    height: 474px;
    border-radius: 10px;
    background-color: #2C343E;
    margin-top: 300px;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  
  .wrapper .box2 img {
    max-width: 40%;
    border-radius: 9px;
    position: absolute;
    top: -90px;
    right: 20px;
  }
  
  .wrapper .box2 .text_box2 {
    display: flex;
    position: absolute;
    left: 20px;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 90px;
    max-width: 40%;
  }
  
  .wrapper .box2 .text_box2 h2 {
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
  
  .wrapper .box2 .text_box2 p {
    width: 540px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
    max-width: 90%;
  }
  
  .wrapper .box3 {
    padding-top: 150px;
    width: 1045px;
    margin: 0;
  }
  
  .wrapper .box3 .title {
    color: #83888F;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 150px;
  }
  
  .wrapper .box4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
  }
  
  .wrapper .box4 .card {
    width: 285px;
  }
  
  .wrapper .box4 .card h2 {
    color: #333D4B;
    font-family: Fraunces;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
  }
  
  .wrapper .box4 .card p {
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  
  @media (max-width: 928px) {
    .wrapper .box1 .text_box1 h2 {
      font-size: 20px;
    }
  
    .wrapper .box2 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 600px;
      gap: 0px;
    }
  
    .wrapper .box2 img {
      content: url('../../../assets/about/tablet/image-quality.jpg');
      position: relative;
      margin-left: 30px;
      max-width: 80%;
    }
  
    .wrapper .box2 .text_box2 {
      margin: 0;
      position: relative;
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .wrapper .box2 .text_box2 h2 {
      width: 600px;
      margin: 0;
    }
  
    .wrapper .box2 .text_box2 p {
      width: 600px;
      max-width: 600px;
      margin: 0;
    }
  }
  
  @media (max-width: 768px) {
    .banner {
      width: 689px;
      max-width: 100%;
      height: 400px;
      background-repeat: no-repeat;
      background-size: 689px 400px;
      background-image: url('../../../assets/about/tablet/image-hero-whitecup.jpg');
    }
  
    .banner .title {
      font-size: 4.2vw;
      line-height: 4.2vw;
    }
  
    .banner .banner_text {
      width: 398px;
      max-width: 80%;
      font-size: 2.21vw;
      line-height: 25px;
    }
  
    .wrapper .box1 {
      width: 689px;
      max-width: 100%;
      justify-content: space-between;
    }
  
    .wrapper .box1 img {
      content: url('../../../assets/about/tablet/image-commitment.jpg');
    }
  
    .wrapper .box1 .text_box1 h2 {
      font-size: 4.5vw;
      line-height: 15vh;
      margin: 0;
    }
  
    .wrapper .box1 .text_box1 p {
      font-size: 2.21vw;
      line-height: 7vh;
    }
  
    .wrapper .box2 {
      margin-top: 225px;
      width: 689px;
      max-width: 100%;
    }
  
    .wrapper .box2 .text_box2 {
      display: flex;
      width: 540px;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
    }
  
    .wrapper .box2 .text_box2 h2 {
      max-width: 100%;
      text-align: center;
      font-size: 4.5vw;
      line-height: 48px;
    }
  
    .wrapper .box2 .text_box2 p {
      width: 540px;
      max-width: 90%;
      color: #FEFCF7;
      text-align: center;
      font-family: Barlow;
      font-size: 2.21vw;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  
    .wrapper .box3 {
      width: 689px;
      max-width: 100%;
    }
  
    .wrapper .box4 {
      width: 689px;
      max-width: 100%;
      flex-wrap: nowrap;
      margin-bottom: 40px;
    }
  
    .wrapper .box4 .card h2 {
      font-size: 3.53vw;
      line-height: 36px;
    }
  
    .wrapper .box4 .card p {
      font-size: 2.21vw;
      line-height: 26px;
    }
  }
  
  @media (max-width: 376px) {
    .banner {
      background-image: url('../../../assets/about/mobile/image-hero-whitecup.jpg');
      background-repeat: no-repeat;
      background-size: 340px 400px;
    }
  
    .banner .title {
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    .banner .banner_text {
      font-size: 15px;
      line-height: 25px;
      margin: 0 auto;
    }
  
    .wrapper .box1 {
      display: flex;
      flex-direction: column;
    }
  
    .wrapper .box1 img {
      content: url('../../../assets/about/mobile/image-commitment.jpg');
      width: 340px;
      max-width: 100%;
    }
  
    .wrapper .box1 .text_box1 {
      justify-content: flex-start;
      width: 327px;
      max-width: 100%;
    }
  
    .wrapper .box1 .text_box1 h2 {
      font-size: 32px;
      line-height: 48px;
      width: 340px;
      max-width: 100%;
      text-align: center;
    }
  
    .wrapper .box1 .text_box1 p {
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      width: 340px;
      max-width: 100%;
    }
  
    .wrapper .box2 {
      width: 327px;
      margin: 0 auto;
      margin-top: 220px;
    }
  
    .wrapper .box2 img {
      content: url('../../../assets/about/mobile/image-quality.jpg');
      width: 279px;
      height: 156px;
      flex-shrink: 0;
      margin-top: -200px;
    }
  
    /* .wrapper .box2 .text_box2 {
      h2 {
        width: 279px;
        font-size: 28px;
        line-height: 28px;
      }
  
      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  
    .wrapper .box3 .title {
      margin-bottom: 50px;
      h2 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
      }
    } */
  
    .wrapper .box4 {
      display: flex;
      flex-direction: column;
    }
  
    .wrapper .box4 .card {
      width: 327px;
    }
  
    .wrapper .box4 .card img {
      display: block;
      margin: 0 auto;
    }
  
    .wrapper .box4 .card h2 {
      text-align: center;
      font-size: 28px;
      line-height: 36px;
    }
  
    .wrapper .box4 .card p {
      text-align: center;
      font-size: 16px;
      line-height: 26px;
    }
  }
  