
<!-- <app-banner></app-banner> -->
<app-container>
  <div class="wrapper">
    <h2 class="coffees">our collection</h2>
    <div class="wrapper_products">
      <div class="products">
        <img src="../../../assets/home/image-gran-espresso.png" alt="Coffee Gran Espresso">
        <div class="products_text">
          <h3>Gran Expresso</h3>
          <p>Light and flavorful blend with cocoa and black pepper for an intense experience.</p>
        </div>
      </div>
      <div class="products">
        <img src="../../../assets/home/image-planalto.png" alt="Coffee Planalto">
        <div class="products_text">
          <h3>Planalto</h3>
          <p>Brazilian dark roast with rich and velvety body, and hints of fruits and nuts.</p>
        </div>
      </div>
      <div class="products">
        <img src="../../../assets/home/image-piccollo.png" alt="Coffee Piccollo">
        <div class="products_text">
          <h3>Piccollo</h3>
          <p>Mild and smooth blend featuring notes of toasted almond and dried cherry.</p>
        </div>
      </div>
      <div class="products">
        <img src="../../../assets/home/image-danche.png" alt="Coffee Danche">
        <div class="products_text">
          <h3>Danche</h3>
          <p>Ethiopian hand-harvested blend densely packed with vibrant fruit notes.</p>
        </div>
      </div>
    </div>
    <div class="wrapper_information">
      <div class="information_background">
        <h3>Why choose us?</h3>
        <p>A large part of our role is choosing which particular coffees will be featured <br>
          in our range. This means working closely with the best coffee growers to give <br>
          you a more impactful experience on every level.</p>
      </div>
    </div>
    <div class="wrapper_cards">
      <div class="card">
        <img src="../../../assets/home/icon-coffee-bean.svg" alt="Coffee bean Icon">
        <div class="card_text">
          <h4>Best quality</h4>
          <p>Discover an endless variety of the world’s best artisan coffee from each of our roasters.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/home/icon-gift.svg" alt="Gift Icon">
        <div class="card_text">
          <h4>Exclusive benefits</h4>
          <p>Special offers and swag when you subscribe, including 30% off your first shipment.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/home/icon-truck.svg" alt="Truck Icon" class="truck">
        <div class="card_text">
          <h4>Free shipping</h4>
          <p>We cover the cost and coffee is delivered fast. Peak freshness: guaranteed.</p>
        </div>
      </div>
    </div>
    <div class="information">
      <div class="title_information">
        <p>How it works</p>
      </div>
    </div>
    <div class="wrapper_infos">
      <div class="info">
        <div class="top">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="#FEFCF7" stroke="#0E8784" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none"><path d="M0.5 1.5H760.5" stroke="#FDD6BA" stroke-width="2"/>
        </svg>
        </div>
        <h2>01</h2>
        <h3>Pick your
          coffee</h3>
        <h4>Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There are new coffees in all profiles every month for you to try out.</h4>
      </div>
      <div class="info">
        <div class="top">
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="#FEFCF7" stroke="#0E8784" stroke-width="2"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none" class="straight"><path d="M0.5 1.5H760.5" stroke="#FDD6BA" stroke-width="2"/>
          </svg>
        </div>
        <h2>02</h2>
        <h3>Choose the frequency</h3>
        <h4>Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.</h4>
      </div>
      <div class="info">
        <div class="top">
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="#FEFCF7" stroke="#0E8784" stroke-width="2"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none" class="straight"><path d="M0.5 1.5H760.5" stroke="transparent" stroke-width="2"/>
          </svg>
        </div>
        <h2>03</h2>
        <h3>Receive and enjoy!</h3>
        <h4>We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.</h4>
      </div>
    </div>
  </div>
  <div class="but">
    <app-button-plan class="button"></app-button-plan>
  </div>

</app-container>