<div class="footer" role="footer">
    <div>
      <img src="../../../assets/home/logo_footer.svg" alt="Logo coffeeroaster" class="logo">
      <span class="example-spacer"></span>
      <div class="buttons">
        <button mat-button aria-label="Home" routerLink="">HOME</button>
        <button mat-button aria-label="About Us" routerLink="/about">ABOUT US</button>
        <button mat-button aria-label="Create your plan" routerLink="/subscribe">CREATE YOUR PLAN</button>
      </div>
      <span class="example-spacer"></span>
      <div class="socialmedia">
        <div>FaceBook</div>
        <div>Tweeter</div>
        <div>Instagram</div>
      </div>
    </div>
  </div>
  